.hydrogen {
  text-align: center;
  font-weight: 700;
  font-size: 5.375rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .hydrogen {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}