/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap'); */

:root {
  --white-color: #f1f1f1;
  --black-color: #333333;
  --orange-color: #ff9d43;
  --purple-color: #5917af;
  --dark-color: #000000;
  --black-alpha-color: #333333aa;
  --black-glassa-color: #33333333;
  --purple-alpha-color: #5917afaa;
}

* {
  padding: 0;
  margin: 0;
}

*, html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-height: 100svh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body.dark {
  background-color: var(--dark-color);
  color: var(--white-color);
  color-scheme: var(--dark-color);
}

body.light {
  background-color: var(--white-color);
  color: var(--black-color);
  color-scheme: var(--white-color);
}
