.paralax {
  position: relative;
  margin: 12rem 0;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.paralax > img {
  border-radius: 1rem;
  box-shadow: -0.5rem -0.5rem 1rem 0.25rem var(--purple-glassa-color),
    0.5rem 0.5rem 1rem 0.25rem var(--white-glassa-color);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background img {
  position: absolute;
  border-radius: 0.25rem;
  /* box-shadow: 0rem 0rem 0.25rem 0.25rem var(--white-alpha-color); */
}

.background img:nth-child(1) {
  left: 1rem;
  top: 16%;
}

.background img:nth-child(2) {
  top: -24%;
  right: 4%;
}

.background img:nth-child(3) {
  right: 1rem;
  bottom: -32%;
}

.background img:nth-child(4) {
  left: 8%;
  bottom: -36%;
}

.background img:nth-child(5) {
  left: 16%;
  top: -24%;
}

@media screen and (max-width: 767px) {
  .paralax {
    margin: 6rem 0;
    width: 100%;
    height: 100%;
  }
  .paralax > img {
    width: calc(100% - 10rem);
    height: 100%;
  }
  .background img {
    width: calc(100% - 16rem);
    height: calc(100% - 4rem);
  }
}
